.container__article__new {
  margin: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.div__articleNew__form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 65vh;
}

.radio__group {
  display: inline-block;
}

.form__tag__select {
  margin: 0 2em;
}
input {
  color: black;
  border: 1px gray solid;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
